/* -------------- */
/* QUIZ APP STYLE */
/* -------------- */



*{
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: rgb(80, 80, 80);
    margin:0;
    padding:0;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}


/* .hide {
	display: none;
} */



/* ------------------------------------------------------*/
/* -----------------MOBILE RESPONSIVE ------------------ */
/* ------------------------------------------------------*/


@media screen and (max-width: 767px) {

    .container-mob {
        background-image: url(assets/images/BaseSmall4.jpg);
        object-fit: cover;
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        border: 1px solid red;
        height: 100vh;
        width: 100vw;
        padding: 2%;
        margin:0 auto;
        padding:0;
        /* align-items: flex-start; */
    }



    .tm-sc-box-mob {
        display:flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid blue;
        padding: 0 15%;
        height:25%;
    }




    .timer-box-mob,
    .score-box-mob {
        border: 1px solid turquoise;
        border-radius: 10px;
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height:100px;
        width: 100px;
        margin:0px;
        padding:0px;
        color: turquoise;
    }



    .tm-title-mob,
    .sc-title-mob {
        font-size: 15px;
        font-weight: 900;
        display:flex;
        justify-content: flex-start;
        margin:0;
        padding:0;
    }




    .tm-val-mob,
    .sc-val-mob {
        font-size: 40px;
        font-weight: 900;
        margin:0;
        padding:0;
    }



    .q-box-mob{
        display:flex;
        justify-content: center;
        align-items: center;
        /* text-align:justify; */
        text-align:center;
        font-size: 20px;
        font-weight: 800;
        color: turquoise;
        border:1px solid purple;
        padding: 0 10%;
        margin-bottom: 10px;
        /* height: 10%; */
        /* padding: 1em; */
    }





    .a-box-mob {
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        border: 1px solid green;
        height:35%;
        /* padding-left: 10px;
        padding-right: 10px; */
        padding: 7% 15%;
        font-size: 20px;
        font-weight: 800;
        color: turquoise;

    }



    .a-mob {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid turquoise;
        border-radius: 5px;
        /* height: 50px; */
        width: 250px;
        padding: 0.2em;
        font-size: 15px;
        font-weight: 700;
        color: turquoise
    }







    .btn-box-mob {
        display:flex;
        justify-content: center;
        /* flex-direction: column; */
        align-items: center;
        /* margin:0 auto; */
        justify-content:space-around;
        border: 1px solid red;
        /* height: 12%; */
        /* margin-bottom: 8%; */
    }




    .play-mob, 
    .next-mob {
        height: 70px;
        width: 70px;
    }



    /* .hide {
        display: none;
    } */



}




/* ------------------------------------------------------*/
/* -----------------TABLET RESPONSIVE ------------------ */
/* ------------------------------------------------------*/


@media screen and (min-width: 768px) {
    /* @media screen and (max-width: 991px) { */


    .container-tab {
        background-image: url(assets/images/BaseMed.jpg);
        object-fit: fill;
        background-color: greenyellow;
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        border: 1px solid turquoise;
        border-radius: 10px;
        height: 80vh;
        width: 80vw;
        /* padding: 2%; */
        margin: 0;
        /* align-items: flex-start; */
        
    }



    .tm-sc-box-tab {
        display:flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid blue;
        padding: 0 15%;
        height:25%;
    }






    .timer-box-tab,
    .score-box-tab {
        border: 1px solid turquoise;
        border-radius: 10px;
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height:170px;
        width: 170px;
        margin:0px;
        padding:0px;
        color:turquoise
    }







    .tm-title-tab,
    .sc-title-tab {
        font-size: 25px;
        font-weight: 900;
        display:flex;
        justify-content: flex-start;
        margin:0;
        padding:0;
    }








    .tm-val-tab,
    .sc-val-tab {
        font-size: 70px;
        font-weight: 900;
        margin:0;
        padding:0;
    }








    .q-box-tab {
        display:flex;
        justify-content: center;
        align-items: center;
        /* text-align:justify; */
        text-align:center;
        font-size: 30px;
        font-weight: 900;
        color: turquoise;
        border:1px solid purple;
        height: 20%;
        padding: 5% 10%;

    }










    .a-box-tab {
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 25px;
        font-weight: 900;
        color: turquoise;
        border: 1px solid green;
        height:35%;
        padding-left: 10px;
        padding-right: 10px;
    }








    .a-tab {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid turquoise;
        border-radius: 5px;
        width: 80%;
        padding: 0.2em;
        color: turquoise
    }







    .btn-box-tab {
        display:flex;
        justify-content: center;
        /* flex-direction: column; */
        align-items: center;
        justify-content:space-around;
        border: 1px solid red;
        height: 12%;
        margin-bottom: 0.1%;
    }





    .play-tab, 
    .next-tab {
        height: 70px;
        width:70px;
    }



    /* .hide {
        display: none;
    } */







}






/* ------------------------------------------------------*/
/* ----------------DESKTOP RESPONSIVE ------------------ */
/* ------------------------------------------------------*/

@media screen and (min-width: 1025px) {

    .container-dsk {
        background-image: url(assets/images/BaseLarge4.jpg);
        object-fit: fill;
        background-color: green;
        /* object-fit: fill; */
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        border: 1px solid red;
        border-radius: 30px;
        height: 90vh;
        width: 70vw;
        margin:0;
        /* padding: 2%; */
        /* align-items: flex-start; */
    }







    .tm-sc-box-dsk {
        background-color: transparent;
        display:flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid blue;
        padding: 0 15%;
        height:25%;
        color: turquoise
    }



    
    
    
    

    
    .timer-box-dsk,
    .score-box-dsk {
        border: 1px solid orange;
        border-radius: 10px;
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height:130px;;
        width: 130px;
        margin:0px;
        padding:0px;
        color: turquoise;
    }
    
    

    
    
    
    
    .tm-title-dsk,
    .score-title-dsk {
        font-size: 25px;
        font-weight: 900;
        display:flex;
        justify-content: flex-start;
        margin:0;
        padding:0;
    }
    
    
    

    

    
    
    .tm-val-dsk,
    .sc-val-dsk {
        font-size: 50px;
        font-weight: 900;
        margin:0;
        padding:0;
    }
    
    
    
    .q-box-dsk {
        display:flex;
        justify-content: center;
        align-items: center;
        /* text-align:justify; */
        text-align:center;
        font-size: 30px;
        font-weight: 1000;
        color: turquoise;
        border:1px solid purple;
        padding: 0 10%;
        height: 20%;
    }
    
    

    

    
    .a-box-dsk {
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 25px;
        font-weight: 1000;
        height:35%;
        color: turquoise;
        padding-left: 10px;
        padding-right: 10px;
    }
    

    



    
    
    
    
    .btn-box-dsk {
        display:flex;
        justify-content: center;
        /* flex-direction: column; */
        align-items: center;
        justify-content:space-around;
        border: 1px solid red;
        height: 15%;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 0.1%;
    }
    
    
    
    
    
    

    
    .play-dsk, 
    .next-dsk {
        height: 70px;
        width:70px;
    }





    
    /* .hide {
        display: none;
    } */




}

