/* -------------- */
/* QUIZ APP STYLE */
/* -------------- */



*{
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: rgb(80, 80, 80);
    margin:0;
    padding:0;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}


/* ------------------------------------------------------*/
/* -----------------MOBILE RESPONSIVE ------------------ */
/* ------------------------------------------------------*/


@media screen and (max-width: 767px) {

    .container-mob {
        background-image: url(assets/images/BaseSmall4.jpg);
        object-fit: fill;
        /* object-fit: scale-down; */
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        border: 1px solid red;
        height: 100vh;
        width: 100vw;
        /* padding: 2%; */
        /* align-items: flex-start; */
    }



    .tm-box-mob {
        display:flex;
        justify-content: center;
        align-items: center;
        border: 1px solid blue;
        /* margin-bottom: 20px; */
        height:25%;
    }




    .timer-box-mob {
        border: 1px solid turquoise;
        border-radius: 10px;
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height:120px;
        width: 120px;
        margin:0px;
        padding:0px;
        color: turquoise;
    }



    .tm-title-mob {
        font-size: 15px;
        font-weight: 900;
        display:flex;
        justify-content: flex-start;
        margin:0;
        padding:0;
    }




    .tm-val-mob {
        font-size: 55px;
        font-weight: 900;
        margin:0;
        padding:0;
    }



    .q-box-mob{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align:justify;
        text-align:center;
        font-size: 30px;
        color: purple;
        border:1px solid purple;
        height: 20%;
    }





    .a-box-mob {
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        border: 1px solid green;
        height:35%;
        padding-left: 10px;
        padding-right: 10px;
    }







    .btn-box-mob {
        display:flex;
        justify-content: center;
        /* flex-direction: column; */
        align-items: center;
        /* margin:0 auto; */
        justify-content:space-around;
        border: 1px solid red;
        height: 12%;
        /* margin-bottom: 8%; */
    }




    .play-mob, 
    .next-mob {
        height: 70px;
        width: 70px;
    }


}




/* ------------------------------------------------------*/
/* -----------------TABLET RESPONSIVE ------------------ */
/* ------------------------------------------------------*/


@media screen and (min-width: 768px) {
    /* @media screen and (max-width: 991px) { */


    .container-tab {
        background-image: url(assets/images/BaseMed.jpg);
        object-fit: fill;
        background-color: greenyellow;
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        border: 1px solid turquoise;
        border-radius: 10px;
        height: 80vh;
        width: 80vw;
        /* padding: 2%; */
        margin: 0;
        /* align-items: flex-start; */
        
    }



    .tm-box-tab {
        display:flex;
        justify-content: center;
        align-items: center;
        border: 1px solid blue;
        /* margin-bottom: 20px; */
        height:25%;
    }






    .timer-box-tab {
        border: 1px solid turquoise;
        border-radius: 10px;
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height:170px;
        width: 170px;
        margin:0px;
        padding:0px;
        color:turquoise
    }







    .tm-title-tab {
        font-size: 25px;
        font-weight: 900;
        display:flex;
        justify-content: flex-start;
        margin:0;
        padding:0;
    }








    .tm-val-tab {
        font-size: 70px;
        font-weight: 900;
        margin:0;
        padding:0;
    }








    .q-box-tab {
        display:flex;
        justify-content: center;
        align-items: center;
        /* text-align:justify; */
        text-align:center;
        font-size: 70px;
        color: purple;
        border:1px solid purple;
        height: 20%;
    }










    .a-box-tab {
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 50px;
        border: 1px solid green;
        height:35%;
        padding-left: 10px;
        padding-right: 10px;
    }











    .btn-box-tab {
        display:flex;
        justify-content: center;
        /* flex-direction: column; */
        align-items: center;
        justify-content:space-around;
        border: 1px solid red;
        height: 12%;
        margin-bottom: 0.1%;
    }





    .play-tab, 
    .next-tab {
        height: 70px;
        width:70px;
    }






}






/* ------------------------------------------------------*/
/* ----------------DESKTOP RESPONSIVE ------------------ */
/* ------------------------------------------------------*/

@media screen and (min-width: 1025px) {

    .container-dsk {
        background-image: url(assets/images/BaseLarge4.jpg);
        object-fit: fill;

        background-color: green;
        /* object-fit: fill; */
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        border: 1px solid red;
        border-radius: 30px;
        height: 70vh;
        width: 70vw;
        margin:0;
        /* padding: 2%; */
        /* align-items: flex-start; */
    }







    .tm-box-dsk {
        background-color: transparent;

        display:flex;
        justify-content: center;
        align-items: center;
        border: 1px solid blue;
        height:25%;

        color: turquoise
    }








    .timer-box-dsk {
        border: 1px solid orange;
        border-radius: 10px;
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height:170px;;
        width: 170px;
        margin:0px;
        padding:0px;
        color: turquoise;
    }







    .tm-title-dsk {
        font-size: 25px;
        font-weight: 900;
        display:flex;
        justify-content: flex-start;
        margin:0;
        padding:0;
    }








    .tm-val-dsk {
        font-size: 70px;
        font-weight: 900;
        margin:0;
        padding:0;
    }



    .q-box-dsk {
        display:flex;
        justify-content: center;
        align-items: center;
        /* text-align:justify; */
        text-align:center;
        font-size: 70px;
        color: purple;
        border:1px solid purple;
        height: 20%;
    }






    .a-box-dsk {
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 50px;
        border: 1px solid green;
        height:35%;
        color: turquoise;

        /* padding-left: 30%;
        padding-right: 30%; */
    }











    .btn-box-dsk {
        display:flex;
        justify-content: center;
        /* flex-direction: column; */
        align-items: center;
        justify-content:space-around;
        border: 1px solid red;
        height: 15%;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 0.1%;
    }








    .play-dsk, 
    .next-dsk {
        height: 70px;
        width:70px;
    }

}

